* {
  margin: 0;
  padding: 0;
}
/* Custom CSS */
.custom-card {
  border-radius: 4rem 4rem 0 0; /* top-left, top-right, bottom-right, bottom-left */
}

.custom1-card {
  display: flex;
  justify-content: center;
}
.background-image-container {
  background-image: url("./images/White-BG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 1rem auto 4rem;
}

.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}
.blue{
  color: #0f0f5e;
}
.L_blue{
  color: #00d9ff;
}
.bg_blue{
  background-color: #00d9ff1a;
}
.custom_av{
  display: flex;
  position: absolute;
  left: 0;
}
.star{
  color: #fff12a;
}
.face{
color: #4267B2;
}
.inst{
color: #C13584;
}
.twit{
  color: #1DA1F2;
}
.teleg{
  color:#0088cc;
}
.menu-col {
  margin-top:15px!important;
 
}


